@using System.Diagnostics.CodeAnalysis
@using Blazix.RovingFocusGroup
@using Microsoft.AspNetCore.Components.Forms

@typeparam TValue

@{
    var radioGroupContext = new RadioGroupContext<TValue>(
        name: Name,
        required: Required,
        isGroupDisabled: Disabled,
        selectedValue: CurrentValue,
        onValueChange: HandleValueChangeAsync
    );

    RenderFragment content =
    @<RovingFocusGroupRoot @ref="rovingFocusGroup"
                               Orientation="Orientation"
                               ReadingDirection="ReadingDirection"
                               Loop="Loop"
                               CurrentTabStopId="@CurrentValue?.ToString()">
        <CascadingValue Value="radioGroupContext">
            <div role="radiogroup"
                 aria-required="@Required"
                 aria-orientation="@Orientation.ToDataAttributeString()"
                 data-disabled="@(Disabled ? string.Empty : null)"
                 dir="@(ReadingDirection == ReadingDirection.Undefined ? null : ReadingDirection.ToDataAttributeString())"
                 tabindex="@(Loop? rovingFocusGroup?.TabIndex : null)"
                 @attributes="AdditionalAttributes"
                 style="@CombineStyles(AdditionalAttributes, Loop ? rovingFocusGroup?.Style : null)"
                 @ref="Element">
                @ChildContent
            </div>
        </CascadingValue>
    </RovingFocusGroupRoot>;
}

@if (IsFormControl)
{
    <InputRadioGroup TValue="TValue"
                     Name="@Name"
                     @bind-Value="BoundValue">
        @content
    </InputRadioGroup>
}
else
{
    @content
}

@code {
    private TValue? internalValue;
    private RovingFocusGroupRoot? rovingFocusGroup;

    private bool IsFormControl => EditContext != null;
    private bool IsControlled => ValueChanged.HasDelegate;
    private TValue? CurrentValue => IsControlled ? Value : internalValue;
    private TValue? BoundValue
    {
        get => CurrentValue;
        set => _ = HandleValueChangeAsync(value);
    }

    [CascadingParameter]
    private EditContext? EditContext { get; set; }

    /// <summary>
    /// Gets or sets the value of the selected radio item when initially rendered.
    /// </summary>
    [Parameter]
    public TValue? DefaultValue { get; set; }

    /// <summary>
    /// Gets or sets the controlled value of the selected radio item.
    /// </summary>
    [Parameter]
    public TValue? Value { get; set; }

    /// <summary>
    /// Gets or sets the event handler called when the value of the radio group changes.
    /// </summary>
    [Parameter]
    public EventCallback<TValue?> ValueChanged { get; set; }

    /// <summary>
    /// Gets or sets the name of the group. Submitted with its owning form as part of a name/value pair.
    /// </summary>
    [Parameter]
    public string? Name { get; set; }

    /// <summary>
    /// When <see langword="true" />, indicates that the user must check a radio item before the owning form can be submitted.
    /// </summary>
    [Parameter]
    public bool Required { get; set; }

    /// <summary>
    /// When <see langword="true" />, prevents the user from interacting with radio items.
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; }

    /// <summary>
    /// Gets or sets the orientation of the component.
    /// </summary>
    [Parameter]
    public Orientation Orientation { get; set; }

    /// <summary>
    /// Gets or sets the reading direction of the navigation.
    /// </summary>
    [Parameter]
    public ReadingDirection ReadingDirection { get; set; }

    /// <summary>
    /// When <see langword="true" />, keyboard navigation will loop from last item to first, and vice versa. Defaults to <see langword="true"/>.
    /// </summary>
    [Parameter]
    public bool Loop { get; set; } = true;

    /// <summary>
    /// Defines the child components of this instance.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Gets or sets a collection of additional attributes that will be applied to the created element.
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    /// <summary>
    /// Gets or sets the associated <see cref="ElementReference"/>.
    /// <para>
    /// May be <see langword="null"/> if accessed before the component is rendered.
    /// </para>
    /// </summary>
    [DisallowNull]
    public ElementReference? Element { get; protected set; }
    
    /// <inheritdoc />
    protected override void OnInitialized()
    {
        if (!IsControlled)
        {
            internalValue = DefaultValue;
        }
    }

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            rovingFocusGroup?.SetElement(Element);
            await (rovingFocusGroup?.InitializeAsync() ?? Task.CompletedTask);
        }
    }

    private async Task HandleValueChangeAsync(TValue? value)
    {
        if (IsControlled)
        {
            await ValueChanged.InvokeAsync(value);
        }
        else
        {
            internalValue = value;
            StateHasChanged();
        }
    }
}